<%= form_with(model: classroom, local: true, class:"form-horizontal center") do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> Este error impidió crear la sala:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-4"></div>
  <div class="jumbotron col-5" >
  <legend><b> Información de la Sala: </b></legend>

  <div class="field">
    <%= form.label "Nombre de la Sala" %>
    <%= form.text_field :title,
                        id: :classroom_title , class:"form-control col-12"%>
  </div>


  <div class="field">
    <%= form.label "Ubicación de la Sala" %>
    <%= form.text_area :ubication, id: :classroom_ubication , class:"form-control col-12" %>
  </div>


  <div class="field">
    <%= form.label "Campus" %>
    <%= form.select :campus_id, @campuses.collect {|c| [c.name, c.id]} , class:"form-control col-12" %>
  </div>


  <div class="actions">
    <%= form.submit "Guardar cambios", class: "btn btn-success"%>
  </div>
  </div>
</div>
  <% end %>
