<p id="notice"><%= notice %></p>

<h1>Classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ubication</th>
      <th>Campus</th>
      <th>Rating noise</th>
      <th>Rating disponibility</th>
      <th>Rating sockets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.title %></td>
        <td><%= classroom.ubication %></td>
        <td><%= classroom.campus_id %></td>
        <td><%= classroom.rating_noise %></td>
        <td><%= classroom.rating_disponibility %></td>
        <td><%= classroom.rating_sockets %></td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom', new_classroom_path %>
