<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <%= javascript_include_tag "application" %>

</head>

<!------ Include the above in your HEAD tag ---------->
<% if current_user %>
  <h3 class="text-center ">Inbox de <%= current_user.username %></h3>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
  <div style="padding: 20px 20% 0 20%">
    <!-- Single button -->
    <div class="btn-group">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Escribir nuevo mensaje: <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @users.each do |user| %>
            <li><%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), {method: :post, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%if !@conversations.nil?%>
    <%@conversations.order(updated_at: :desc).each do |conversation| %>
        <%if !conversation.nil? %>
      <% other = conversation.recipient(current_user) %>
      <div class="chat_list">
        <ul class="list-group">

          <li class="list-group-item">
            <div class="pull-left hidden-xs">
              <%= link_to(other) do %>
                <div>
                  <img class="img-circle" title="User1" alt="User1" data-src=<%= image_tag other.gravatar_url(:default => "wavatar", :size => 45) %>
                      </div>
                </div>
              <% end %>
              <small class="pull-right text-muted"><%= conversation.updated_at %></small>
              <%= link_to conversation_messages_path(conversation) do %>
                <div class = 'no_underline' >
                  <small class="list-group-item-heading text-muted text-primary"> <%= other.username.capitalize %></small>
                  <% message = conversation.messages.last %>
                  <% if !message.nil? %>
                  <% if !message.body.nil? %>
                    <p class="list-group-item-text">
                      <%= message.user.username.capitalize + ': ' + message.body.truncate(27) %>
                    </p>
                    <%else %>
                    <p class="list-group-item-text">
                      <%= '...' %>
                    </p>
                  <% end %>
                  <%end %>

                </div>
              <% end %>
            </div>
          </li>
<%end %>
    <% end %>
      <%end %>
    </ul>
    </div>
  </div>

<% else %>
  <div class="errorcustom"> ERROR: Debes estar loggeado para revisar tus mensajes!</div>

<% end %>