<% connected = current_user %>
<% if connected %><% isadmin = (current_user.has_role? :admin) %><% end %>

<% if !(connected) %>
  <div class="errorcustom"> ERROR: Debes estar conectado a tu cuenta ver los eventos disponibles </div>
<% else %>
  <%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> Este error impidió crear el evento:</h2>

        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label "Titulo del evento" %>
      <%= form.text_field :title,
                          id: :title_name %>
    </div>

    <div class="field">
      <%= form.label "Descripcion del evento" %>
      <%= form.text_area :description, id: :event_description %>
    </div>

    <%= form.hidden_field :classroom_id,
                          :value => params[:classroom] %>

    <div class="field">
      <%= form.label "Id del curso" %>
      <%= form.number_field :course_id, id: :event_course_id %>
    </div>

    <%= form.hidden_field :schedule,
                          :value => params[:schedule] %>
    <%= form.hidden_field :day,
                          :value => params[:day] %>
    <div class="field">
      <%= form.label "Tipo del evento" %>
      <%= form.select :event_type, options_for_select(["Grupo de estudio","Buscar clases particulares","Ofrecer clases particulares","Evento externo"]) %>
    </div>

    <div class="field">
      <%= form.label "Usuarios Maximos" %>
      <%= form.number_field :max_users, id: :event_max_users %>
    </div>

    <div class="field">
      <%= form.label "Precio del evento" %>
      <%= form.number_field :price, id: :event_price %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
  <% end %>
