<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="utf-8"/>
  <script type='text/javascript'>
      function GetMap() {
          var map = new Microsoft.Maps.Map('#myMap', {});
          map.setView({
              mapTypeId: Microsoft.Maps.MapTypeId.aerial,
              center: new Microsoft.Maps.Location(<%= @event.classroom.ubication %>),
              zoom: 15,

          });
      }
  </script>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AiV3nq3V5FZeLRFcIjha7ckayj0DzNNhtLD5wjkgvhVrki4Fa_ZJmptDU0qm5wcp' async defer></script>
</head>
<style type="text/css">
  .emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .profile-img {
    text-align: center;
  }

  .profile-img img {
    width: 70%;
    height: 100%;
  }

  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }

  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }

  .profile-head h5 {
    color: #333;
  }

  .profile-head h6 {
    color: #0062cc;
  }

  .profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }

  .profile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }

  .proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }

  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }

  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
  }

  .profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
  }

  .profile-work {
    padding: 14%;
    margin-top: -15%;
  }

  .profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  .profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }

  .profile-work ul {
    list-style: none;
  }

  .profile-tab label {
    font-weight: 600;
  }

  .profile-tab p {
    font-weight: 400;
    color: #000000;
  }
</style>

<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body class="bg-image">
  <div class="container emp-profile">

      <!-- Perfil -->
      <div class="col-md-4">
        <!-- TITULO DEL PERFIL -->
        <div class="text-center">
          <h2 class="event-title">
          <%= @event.title.capitalize %>
          </h2>
        </div>
        <!-- DESCRIPCION DEL PERFIL -->
        <div class="row">
          <div class="col-md-12">
            <div class="row col-md-12 custyle">
              <table class="table table-striped custab">
                <thead>
                <tr>
                  <th class="text-center"><strong>Autor:</strong></th>
                  <th class="text-center"><%= @author_name %></th>
                </tr>
                </thead>
                <tr>
                  <td class = "text-center"><strong>Sala:</strong></td>
                  <td class = "text-center"><a class= "btn btn-info btn-xs"><%= link_to @event.classroom.title, @event.classroom, :class => 'btn' %></td>
                </tr>
                <tr>
                    <td class = "text-center"><strong>Fecha:</strong></td>
                    <td class = "text-center"><%= @date_text %></td>
                </tr>
                <tr>
                    <td class = "text-center"><strong>Horario:</strong></td>
                    <td class = "text-center"><%= @modules[@event.schedule-1] %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- BOTONES -->
        <div class="row">
          <div class="col-md-5">
            <a class= "btn btn-info btn-xs">
            <%= link_to "Ver Horarios", schedule_path({day: @event.day,
                                                        campus_id: @event.classroom.campus_id}),
                                                        class: "profile-edit-btn" %>
          </div>
          <% if @is_connected and @is_admin %>
          <div class="col-md-3">
            <a class= "btn btn-warning btn-xs">
            <%= link_to "Editar", edit_event_path(@event), class: "profile-edit-btn" %>
          </div>
          <div class="col-md-4">
            <a class= "btn btn-danger btn-xs">
            <%= link_to "Eliminar", @event, method: :delete,
                                data: { confirm: 'Are you sure?' }, class: "profile-edit-btn" %>
          </div>
          <%end %>
        </div>
      </div>

      <!-- Opciones del perfil (Pesta침as) -->
      <div class="col-md-8">
        <!-- Header de las pesta침as -->
        <div class="row">
          <div class="col-md-12">
            <div class="profile-head">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Descripci칩n</a>
                </li>
              </ul>

            </div>
          </div>

        </div>
        <!-- Informacion de las pesta침as -->
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
              <!-- Descripcion -->
              <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                <h4 class="text-info"><%= @event.event_type.capitalize %></h4>
                <p><%= @event.description %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
