<p id="notice"><%= notice %></p>



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class= "h1">
  <center><h1>Lista de Eventos</h1></center>
</div>


<center>

  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Evento</th>
          <th class="text-center">Tipo de Evento</th>
          <th class="text-center">Sala</th>
          <th class="text-center">Inscritos</th>
          <% if @is_connected || @is_admin %>
            <th class = "text-center">Editar</th>
            <th class = "text-center">Remover</th>
          <% end %>

        </tr>
        </thead>

        <% @events.each do |event| %>
          <tr>
              <td class = "text-center"><%= event.id%></td>
              <td class = "text-center">
                <%= link_to event.title, event,
                                              class: "btn",
                                              method: :get %>
              </td>
              <td class = "text-center"><%= event.event_type %></td>
              <td class = "text-center"><a class= "btn btn-info btn-xs"><%= link_to event.classroom.title,
                                                                          event.classroom, :class => 'btn' %></td>


              <% count = Eventsubsription.where(event_id: event.id).count %>
              <td class = "text-center"><%= count%> / <%=event.max_users %></td>
            <% if @is_connected || @is_admin %>

              <td class = "text-center">
                <a class= "btn btn-warning btn-xs"><%= link_to "Editar", edit_event_path(event), :class => 'btn',
                                                            method: :get%>
              </td>

              <td class = "text-center">
                <a class= "btn btn-danger btn-xs"><%= link_to "Remover", event, method: :delete, :class => 'btn',
                                                            data: {confirm: "Are you sure?"}%>
              </td>
            <%end%>

          </tr>
        <%end%>

      </table>
    </div>

  </div>
</center>

<% if @is_connected && @is_admin %>
  <a class= "btn btn-success btn-xs"><%= link_to "Nueva Sala", new_event_path, :class => 'btn' %>
<% end %>
