<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @event.classroom_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @event.course_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @event.schedule %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Actual users:</strong>
  <%= @event.actual_users %>
</p>

<p>
  <strong>Max users:</strong>
  <%= @event.max_users %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
