<h1>Home page!</h1>
<%= link_to "Campuses list", campuses_path %><br>
<%= link_to "Lista de todos los cursos de todos los campus", courses_path %>
<hr>
<% if  current_user %>
<%= link_to "My profile", user_path(User.find(current_user.id)) %>
<hr>
<%= link_to  "Sign Out", destroy_user_session_path, method: :delete%>

<% else %>
<%= link_to  'Sign Up', new_user_registration_path %>
<%= link_to  "Sign In", new_user_session_path %>
<% end %>
