<!-- Estas líneas se deben borrar luego, son solo hasta que exista current_user y la implementación devise -->


<!-- -----------------------------------------------------------------------------------  -->

<% connected = current_user %>
<% if connected %><% isadmin = (current_user.has_role? :admin) %><% end %>

<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Campus</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.name %></td>
        <td><%= Campus.find(course.campus_id).name %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Ir al muro del curso', course %></td>

        <% if connected && isadmin %>
          <td><%= link_to 'Editar curso', edit_course_path(course) %></td>
          <td><%= link_to 'Eliminar curso', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if connected && isadmin %>
  <%= link_to 'New Course', new_course_path %>
<% end %>
