<p id="notice"><%= notice %></p>

<h1>Eventposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Event</th>
      <th>Content</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventposts.each do |eventpost| %>
      <tr>
        <td><%= eventpost.title %></td>
        <td><%= eventpost.user_id %></td>
        <td><%= eventpost.event_id %></td>
        <td><%= eventpost.content %></td>
        <td><%= eventpost.rate %></td>
        <td><%= link_to 'Show', eventpost %></td>
        <td><%= link_to 'Edit', edit_eventpost_path(eventpost) %></td>
        <td><%= link_to 'Destroy', eventpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventpost', new_eventpost_path %>
