<!-- Estas líneas se deben borrar luego, son solo hasta que exista current_user y la implementación devise -->



<!-- -----------------------------------------------------------------------------------  -->
<% connected = current_user %>
<% if connected %>
  <% isadmin = (current_user.has_role? :admin) %>
  <% notsuscribed = !(Suscription.exists?(:user_id => current_user.id, :course_id => @courseid)) %>
  <% notadmin = !isadmin %>
  <% notownpost = !(@post.id && current_user.id == @post.user.id)%>
<% end %>


<% if !(connected) %>
  <div class="errorcustom"> ERROR: Debes estar conectado a tu cuenta para postear </div>
<% elsif (notsuscribed && notadmin) %>
  <div class="errorcustom"> ERROR: Debes estar registrado en el curso para poder publicar </div>
<% elsif (notownpost && !@isnewpost) %>
  <div class="errorcustom"> ERROR: Solo puedes editar posts que tú hayas hecho </div>
<% else %>

  <%= form_with(model: post, local: true, :html=>{:class => "form-style-5"}) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <legend><span class="number">1</span> Usuario</legend>
      <!-- Este es solo para que se vea bonito, realmente no hace nada-->
      <%= form.text_field :placeholder2,
                          id: :post_user_id,
                          value: current_user.username,
                          disabled: true %>
      <!-- --------------------------------------------------------- -->
      <%= form.hidden_field :user_id,
                            :value => current_user.id %>
    </div>

    <div class="field">

      <legend><span class="number">2</span> Sigla del curso</legend>
      <!-- Este es solo para que se vea bonito, realmente no hace nada-->
      <%= form.text_field :placeholder,
                          id: :post_course_id,
                          disabled: true,
                          value: @coursename %>
      <!-- --------------------------------------------------------- -->

      <%= form.hidden_field :course_id,
                            :value => @courseid %>
    </div>

    <div class="field">
      <legend><span class="number">3</span> Título de la publicación</legend>
      <%= form.text_field :title, id: :post_title %>
    </div>

    <div class="field">
      <legend><span class="number">4</span> Contenido</legend>

      <%= form.cktext_area :content,
                           id: :post_content,
                           rows: 30,
                           label: "Contenido del post"%>
    </div>



    <div class="field">

      <!-- --------------------------------------------------------- -->
      <%= form.hidden_field :rate,
                            :value => 0 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>


<% end %>


</div>
